---
import Headline from '@widgets/Headline.astro';

interface Props { 
	image: {
		altText,
		sourceUrl
	}
	headline,
	headlineTag,
	headlineTypography,
	description,
	linkUrl
}

const {
	image = {
		altText: '',
		sourceUrl: ''
	},
	headline = '',
	headlineTag = '',
	headlineTypography = '',
	description = '',
	linkUrl = '',
} = Astro.props;

---

<div class="feature">
	<a href={linkUrl}>
		<div class="icon-wrap">
			<img src={image.sourceUrl} width="80" height="80" alt={image.altText}>
		</div>
		<Headline content={headline} tag={headlineTag} typography={headlineTypography} />
		<p class="body-large" set:html={description}></p>
	</a>
</div>

<style lang="scss">
	@import 'src/styles/abstracts/variables';
	.feature {
			@include col-gutters;
			@include col(12);
			@include spacing('large');

			@media (min-width: $breakpoint-tablet) {
				@include col(6);
			}

			@media (min-width: $breakpoint-tablet-horizontal) {
				@include col(4);
			}

			a {
				color: inherit;
				text-decoration: none;
			}

			.icon-wrap {
				height: 8rem;
				margin-bottom: 2rem;

				img {
					max-height: 100%;
					width: auto;
					object-fit: contain;
					object-position: bottom;
				}
			}

			p {
				margin-top: 1rem;
			}
		}
</style>