---
import { Image } from 'astro:assets';
import logoCisco from '@assets/images/SliderWithContent/logo-cisco.svg';
import logoVmware from '@assets/images/SliderWithContent/logo-vmware.svg';
import logoMcafee from '@assets/images/SliderWithContent/logo-mcafee.svg';
import logoTenable from '@assets/images/SliderWithContent/logo-tenable.svg';
import logoStanford from '@assets/images/SliderWithContent/logo-stanford.svg';
import logoCohesity from '@assets/images/SliderWithContent/logo-cohesity.svg';
import patternHexagonGreenImage from '@assets/images/SliderWithContent/pattern-hexagon-green.webp';
---

<astro-slider-quote class="astroComponent componentSpacing" data-theme="dark">
	<div class="container">
    <div class="testimonials-slider swiper">
      <div class="testimonials swiper-wrapper">
        <div class="testimonial-outer swiper-slide">
          <div class="testimonial">
            <div class="testimonial-image">
              <figure class="testimonial-figure">
                <Image class="testimonial-figureImage" src={patternHexagonGreenImage} alt="Quote Image"></Image>
              </figure>
            </div>
            <div class="testimonial-content">
              <span class="art art--arrowWhite"></span>
              <span class="art art--quote"></span>
              <blockquote class="testimonial-text">
                <h3>Aenean aliquet malesuada quam et placerat. Suspendisse pellentesque. Interdum et malesuada fames ac ante ipsum primis in.</h3>
              </blockquote>
              <p class="testimonial-author"><strong>Jane Doe</strong>, <span>CEO</span></p>
              <div class="testimonial-author-logo">
                <Image src={logoCohesity} alt="Author Company"></Image>
              </div>
              <a href="/" class="testimonial-link button button--text">View case study</a>
            </div>
          </div>
        </div>
        <div class="testimonial-outer swiper-slide">
          <div class="testimonial">
            <div class="testimonial-statistics">
              <div class="testimonial-counter">
                <span class="testimonial-counterPrefix"></span>
                <span class="testimonial-counterNumber h1">113</span>
                <span class="testimonial-counterSuffix h1">%</span>
              </div>
              <p class="h6">Aenean aliquet malesuada quam et placerat.</p>
            </div>
            <div class="testimonial-content">
              <span class="art art--arrowWhite"></span>
              <span class="art art--quote"></span>
              <blockquote class="testimonial-text">
                <h3>Aenean aliquet malesuada quam et placerat. Suspendisse pellentesque. Interdum et malesuada fames ac ante ipsum primis in.</h3>
              </blockquote>
              <p class="testimonial-author"><strong>Jane Doe</strong>, <span>CEO</span></p>
              <div class="testimonial-author-logo">
								<Image src={logoCohesity} alt="Author Company"></Image>
              </div>
              <a href="/" class="testimonial-link button button--text">View case study</a>
            </div>
          </div>
        </div>
        <div class="testimonial-outer swiper-slide">
          <div class="testimonial">
            <div class="testimonial-content">
              <span class="art art--arrowWhite"></span>
              <span class="art art--quote"></span>
              <blockquote class="testimonial-text">
                <h3>Aenean aliquet malesuada quam et placerat. Suspendisse pellentesque. Interdum et malesuada fames ac ante ipsum primis in.</h3>
              </blockquote>
              <p class="testimonial-author"><strong>Jane Doe</strong>, <span>CEO</span></p>
              <div class="testimonial-author-logo">
                <Image src={logoCohesity} alt="Author Company"></Image>
              </div>
              <a href="/" class="testimonial-link button button--text">View case study</a>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-sliderProgressbar swiper-pagination"></div>
      <div class="testimonial-sliderArrow testimonial-sliderArrow--prev swiper-button-prev"></div>
      <div class="testimonial-sliderArrow testimonial-sliderArrow--next swiper-button-next"></div>
    </div>
  </div>
	<div class="logos swiperLogos">
		<ul class="logos-list swiper-wrapper">
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoCisco} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoVmware} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoMcafee} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoTenable} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoStanford} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoCisco} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoVmware} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoMcafee} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoTenable} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoStanford} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoCisco} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoVmware} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoMcafee} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoTenable} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoStanford} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoCisco} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoVmware} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoMcafee} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoTenable} alt="Logo"></Image>
				</div>
			</li>
			<li class="logos-item swiper-slide">
				<div class="logo">
					<Image class="logo-image" src={logoStanford} alt="Logo"></Image>
				</div>
			</li>
		</ul>
	</div>		
</astro-slider-quote>
<style lang="scss">
	@import 'src/styles/abstracts/variables';

	astro-slider-quote {
    overflow: hidden;

    .intro {
      margin-bottom: var(--flow-space-medium);
    }

    .testimonials {
      display: flex;
      flex-wrap: nowrap;

      &-slider {
        overflow: visible;
      }
    }

    .testimonial {
      @include row;

      &-outer {
        @include col(12);
      }

      &-image,
      &-statistics {
        @include col(12);
        height: 100%;

        @media (min-width: $breakpoint-tablet-horizontal) {
          @include col(6);
        }
      }

      &-figure,
      &-counter {
        height: 100%;
        margin: 0;

        @media (min-width: $breakpoint-tablet-horizontal) {
          margin-right: calc(((var(--content-max-width-full) - (var(--container-spacing) * 2)) / 12));
        }
      }

      &-figureImage {
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }

      &-statistics {
        p {
          font-weight: normal;
          margin-top: var(--flow-space);
        }
      }

      &-counterNumber,
      &-counterSuffix {
        color: var(--color-accent);
      }

      &-content {
        @include col;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;
        position: relative;

        @media (min-width: $breakpoint-tablet-horizontal) {
          margin-top: 0;
        }
      }

      &-text {
        border: 0;
        font-style: normal;
        margin: 0;
        padding: 0;
      }

      &-author {
        color: var(--color-accent);
        margin-top: var(--flow-space-medium);
      }

      &-author-logo {
        height: 2.2rem;
        margin-top: var(--flow-space);
        max-width: 15.7rem;

        img {
          height: 100%;
          object-fit: contain;
        }
      }

      &-link {
        margin-top: var(--flow-space-small);
      }

      &-sliderArrow {
        &--prev,
        &--next {
          background-color: $color-background-dark;
        }
      }

      &-sliderProgressbar {
        margin-top: var(--flow-space-large);
      }
    }

    .logos {
      margin-top: var(--flow-space-large);
      position: relative;
      --gradient-fade-size: 25%;

      &::before {
        content: '';
        position: absolute;
        width: var(--gradient-fade-size);
        background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        z-index: 2;
      }

      &::after {
        content: '';
        position: absolute;
        width: var(--gradient-fade-size);
        background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        z-index: 2;
      }

      &-list {
        @include reset-list;
        // @include row;
        display: inline-flex;
        flex-wrap: nowrap;
        z-index: 1;
        // @include row-cols(2);

        // @media (min-width: $breakpoint-tablet) {
        //   @include row-cols(3);
        // }

        // @media (min-width: $breakpoint-tablet) {
        //   @include row-cols(4);
        // }

        // @media (min-width: $breakpoint-tablet) {
        //   @include row-cols(5);
        // }
      }

      .swiper-wrapper {
        transition-timing-function: linear;
      }
    }

    .logo {
      height: 8.4rem;
      margin: auto;
      max-width: 19.3rem;
      text-align: center;

      &-image {
        height: 100%;
        object-fit: contain;
      }
    }
  }
</style>
<script>
  import Swiper from 'swiper';
  import { Navigation, A11y, Autoplay, Pagination } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/autoplay';
  import 'swiper/css/a11y';
  import 'swiper/css/navigation';

  class AstroSliderQuote extends HTMLElement {
    constructor(...args) {
      const self = super(...args);
      self.init();
      return self;
    }

    init() {
      this.resolveElements();
    }

    resolveElements() {
      this.slider = this.querySelector('.swiper');
      this.sliderNextEl = this.slider.querySelector('.swiper-button-next');
      this.sliderPrevEl = this.slider.querySelector('.swiper-button-prev');
      this.sliderProgressBarEl = this.slider.querySelector('.swiper-pagination');
      this.logoSlider = this.querySelector('.swiperLogos');
      this.countLogos = this.querySelectorAll(
        '.swiperLogos .logos-item.swiper-slide'
      ).length;
    }

    connectedCallback() {
      if (this.slider) {
        this.initSlider();
      }

      if (this.logoSlider) {
        this.initLogoSlider();
      }
    }

    initSlider() {
      const parameters = {
        modules: [Navigation, A11y, Autoplay, Pagination],
        autoHeight: true,
        navigation: {
          nextEl: this.sliderNextEl,
          prevEl: this.sliderPrevEl,
        },
        pagination: {
          el: this.sliderProgressBarEl,
          type: 'progressbar',
        },
        slidesPerView: 1,
        speed: 400,
        spaceBetween: 30,
      };

      const swiper = new Swiper(this.slider, parameters);
    }

    initLogoSlider() {
      const logoParameters = {
        modules: [Autoplay],
        autoplay: {
          delay: 0,
        },
        loop: true,
        slidesPerView: 2,
        spaceBetween: 20,
        speed: 2000,
        breakpoints: {
          576: {
            slidesPerView: 3,
          },
          768: {
            slidesPerView: 4,
          },
          992: {
            slidesPerView: 5,
          },
          1200: {
            slidesPerView: 6,
          },
        },
      };

      const logoSwiper = new Swiper(this.logoSlider, logoParameters);
    }
  }

  customElements.define('astro-slider-quote', AstroSliderQuote);
</script>
