---

import Page from "../../layouts/Page/Page.astro";

import HeroBanner from "../../components/HeroBanner/HeroBanner.astro";
import ImageTwoBlock from "../../components/ImageTwoBlock/ImageTwoBlock.astro";
import ContentWithGrid from "../../components/ContentWithGrid/ContentWithGrid.astro";
import TabsWithContent from "../../components/TabsWithContent/TabsWithContent.astro";
import SliderWithContent from "../../components/SliderWithContent/SliderWithContent.astro";
import TwoGridSlider from "../../components/TwoGridSlider/TwoGridSlider.astro";
import FooterCTA from "../../components/FooterCta/FooterCTA.astro";


---

<Page title="Homepage | Set 1" metadescription="Homepage" ogimage="">
	<HeroBanner
		bladeCssId="homeHero"
		bladeAdditionalCssClasses=""
		ctaLightboxVideoUrl={null}
		ctaStyle={null}
		ctaTarget="_self"
		ctaText="Our Approach"
		ctaUrl="/approach/"
		description={null}
		eyebrow="Hello! We are Clear Digital."
		headline="We build B2B websites and <span class='marker-effect marker-underline'>digital</span> brand experiences."
		headlineTag="h1"
		headlineTypography="h1"
		backgroundTheme="dark"
		backgroundVideoType="mp4"
		backgroundVideoUrl="https://media.istockphoto.com/id/1372283447/video/attractive-woman-wearing-virtual-reality-headset-augmented-reality-creative-lady-swiping.mp4?s=mp4-640x640-is&k=20&c=Flz0Jza76gPaFZyEJ8X6114fy__lJc1m_4_yKZRZsVo="
		backgroundImage={{sourceUrl:"https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/cta-bg.webp"}}
		hasGridBackgroundTexture={true}
	/>
	<ImageTwoBlock
	
	/>
	<ContentWithGrid
	
	/>
	<TabsWithContent
	
	/>
	<SliderWithContent
	
	/>
	<TwoGridSlider

	/>
	<HeroBanner
		bladeCssId="homeCTA"
		bladeAdditionalCssClasses=""
		ctaLightboxVideoUrl={null}
		ctaStyle="button"
		ctaTarget="_self"
		ctaText="Contact Us"
		ctaUrl="/contact/"
		description={null}
		eyebrow="Lorem ipsum dolor."
		headline="Let’s talk."
		headlineTag="h2"
		headlineTypography="h1"
		backgroundTheme="dark"
		backgroundVideoType="mp4"
		backgroundVideoUrl={null}
		backgroundImage={{sourceUrl:"https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/cta-bg.webp"}}
		hasGridBackgroundTexture={true}
	/>
</Page>