---

import CloseX from "@assets/images/Clients/x-square.svg";
import CloseXWhite from "@assets/images/Clients/x-square-white.svg";

const { label, slug, taxonomy, termId } = Astro.props;

const cssVars = { closex: `url(${CloseX.src})`, closexwhite: `url(${CloseXWhite.src})` };

---

<div class="taxonomy-tag button-small" is="taxonomy-tag" data-cursor-expand data-cursor-icon="x" data-taxonomy={taxonomy} data-term-id={termId} data-term-slug={slug}>
    <Fragment set:text={label} />
</div>

<style lang="scss" define:vars={cssVars}>
    .taxonomy-tag {
        display: block;
        background-color: var(--color-white);
        color: var(--color-black);
        padding: calc(0.8rem + 0.25em) 4rem calc(0.8rem + 0.25em) 1.5rem;
        border: 0.2rem solid var(--color-white);
        border-radius: 3rem;
        position: relative;
        cursor: pointer;
        transition: 160ms background-color ease-in-out;

        &::after {
            content: '';
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            right: 1rem;
            top: 50%;
            position: absolute;
            transform: scale(1) translateY(-50%);
            background-image: var(--closex);
            background-size: cover;
            background-position: center;
        }

        &:hover, &:focus {
            background-color: transparent;
            color: var(--color-white);

            &::after {
                background-image: var(--closexwhite);
            }
        }
    }
</style>