---
import { Image } from 'astro:assets';
import brandStrategyLogoImage from '@assets/images/ColThreeGrid/brand-strategy.svg';
import contentDevelopmentLogoImage from '@assets/images/ColThreeGrid/content-development.svg';
import creativeServicesLogoImage from '@assets/images/ColThreeGrid/creative-services.svg';
import digitalMarketingLogoImage from '@assets/images/ColThreeGrid/digital-marketing.svg';
import digitalStrategyLogoImage from '@assets/images/ColThreeGrid/digital-strategy.svg';
import motionGraphicsLogoImage from '@assets/images/ColThreeGrid/motion-graphics.svg';
import systemsLogoImage from '@assets/images/ColThreeGrid/systems.svg';
import supportLogoImage from '@assets/images/ColThreeGrid/support.svg';
import webDevelopmentLogoImage from '@assets/images/ColThreeGrid/web-development.svg';
---

<div class="colThreeGrid componentSpacing">
  <div class="container">
    <div class="colThreeCards">
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="logo">
            <Image src={brandStrategyLogoImage} alt="logo"></Image>
          </div>
          <h3>Brand strategy</h3>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="button button--text">Learn more</span>
        </a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="logo">
            <Image src={contentDevelopmentLogoImage} alt="logo"></Image>
          </div>
          <h3>Content development </h3>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="button button--text">Learn more</span>
        </a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="logo">
            <Image src={creativeServicesLogoImage} alt="logo"></Image>
          </div>
          <h3> Creative services </h3>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="button button--text">Learn more</span>
        </a>
      </div>
      <!-- <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#"></a>
        <div class="logo">
          <Image src={digitalMarketingLogoImage} alt="logo"></Image>
        </div>
        <h3> Digital marketing </h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <a class="button button--text">Learn more</a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#"></a>
        <div class="logo">
          <Image src={digitalStrategyLogoImage} alt="logo"></Image>
        </div>
        <h3> Digital strategy </h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <a class="button button--text">Learn more</a>
      </div>
      <div class="colThreeCard-outer">
        <div class="logo">
          <Image src={motionGraphicsLogoImage} alt="logo"></Image>
        </div>
        <h3> Motion graphics </h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <a class="button button--text">Learn more</a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#"></a>
        <div class="logo">
          <Image src={systemsLogoImage} alt="logo"></Image>
        </div>
        <h3> Systems & support </h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <a class="button button--text">Learn more</a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#"></a>
        <div class="logo">
          <Image src={supportLogoImage} alt="logo"></Image>
        </div>
        <h3> Systems & support </h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <a class="button button--text">Learn more</a>
      </div>
      <div class="colThreeCard-outer">
        <div class="logo">
          <Image src={webDevelopmentLogoImage} alt="logo"></Image>
        </div>
        <h3> Web development </h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <a class="button button--text">Learn more</a>
      </div> -->
    </div>
  </div>
</div>
<style lang="scss">
	@import 'src/styles/abstracts/variables';

  .colThreeGrid {
    padding-top: calc(var(--component-spacing) * 3);

    .colThreeCards {
      @include row;
    }

    .colThreeCard {
      background-color: var(--color-background);
      border: 1px solid #989898;
      color: var(--color-text);
      display: block;
      height: 100%;
      margin-top: var(--flow-space-small);
      padding: var(--flow-space-large) var(--flow-space-medium);

      &-outer {
        @include col(12);

        @media (min-width: $breakpoint-mobile-horizontal) {
          @include col(6);
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          @include col(4);
        }
      }

      .logo {
        max-width: 100px;
        max-height: 100px;
        margin-bottom: 30px;

        @media (max-width: $breakpoint-tablet-horizontal) and (min-width: $breakpoint-tablet) {
          max-width: 80px;
          max-height: 80px;
        }

        @media (max-width: $breakpoint-tablet) and (min-width: $breakpoint-mobile-horizontal) {
          max-width: 70px;
          max-height: 70px;
        }

        @media (max-width: $breakpoint-mobile-horizontal) {
          max-width: 50px;
          max-height: 50px;
          margin-bottom: 20px;
        }
      }
    }
  }

</style>
