---
import { Image } from 'astro:assets';
import brandGraphicsSupportImage from '@assets/images/ColThreeGrid/brand-graphics-support.png';
import brandStrategyLogoImage from '@assets/images/ColThreeGrid/brand-strategy.svg';
import contentDevelopmentLogoImage from '@assets/images/ColThreeGrid/content-development.svg';
import creativeServicesLogoImage from '@assets/images/ColThreeGrid/creative-services.svg';
import digitalMarketingLogoImage from '@assets/images/ColThreeGrid/digital-marketing.svg';
import digitalStrategyLogoImage from '@assets/images/ColThreeGrid/digital-strategy.svg';
import motionGraphicsLogoImage from '@assets/images/ColThreeGrid/motion-graphics.svg';
import systemsLogoImage from '@assets/images/ColThreeGrid/systems.svg';
import supportLogoImage from '@assets/images/ColThreeGrid/support.svg';
import webDevelopmentLogoImage from '@assets/images/ColThreeGrid/web-development.svg';
---

<div class="colThreeGrid componentSpacing blade has-grid-bg">
  <div class="colThreeGrid-bg">
    <Image src={brandGraphicsSupportImage} alt=""></Image>
  </div>
  <div class="container">
    <div class="colThreeCards">
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="colThreeCard-logo">
            <Image src={brandStrategyLogoImage} alt="logo"></Image>
          </div>
          <h4>Brand strategy</h4>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="colThreeCard-button button button--text">Learn more</span>
        </a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="colThreeCard-logo">
            <Image src={contentDevelopmentLogoImage} alt="logo"></Image>
          </div>
          <h4>Content development</h4>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="colThreeCard-button button button--text">Learn more</span>
        </a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="colThreeCard-logo">
            <Image src={creativeServicesLogoImage} alt="logo"></Image>
          </div>
          <h4>Creative services</h4>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="colThreeCard-button button button--text">Learn more</span>
        </a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="colThreeCard-logo">
            <Image src={digitalMarketingLogoImage} alt="logo"></Image>
          </div>
          <h4>Digital marketing</h4>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="colThreeCard-button button button--text">Learn more</span>
        </a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="colThreeCard-logo">
            <Image src={digitalStrategyLogoImage} alt="logo"></Image>
          </div>
          <h4>Digital strategy</h4>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="colThreeCard-button button button--text">Learn more</span>
        </a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="colThreeCard-logo">
            <Image src={motionGraphicsLogoImage} alt="logo"></Image>
          </div>
          <h4>Motion graphics</h4>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="colThreeCard-button button button--text">Learn more</span>
        </a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="colThreeCard-logo">
            <Image src={systemsLogoImage} alt="logo"></Image>
          </div>
          <h4>Systems & support</h4>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="colThreeCard-button button button--text">Learn more</span>
        </a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="colThreeCard-logo">
            <Image src={supportLogoImage} alt="logo"></Image>
          </div>
          <h4>Systems & support</h4>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="colThreeCard-button button button--text">Learn more</span>
        </a>
      </div>
      <div class="colThreeCard-outer">
        <a class="colThreeCard" href="#">
          <div class="colThreeCard-logo">
            <Image src={webDevelopmentLogoImage} alt="logo"></Image>
          </div>
          <h4>Web development</h4>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <span class="colThreeCard-button button button--text">Learn more</span>
        </a>
      </div>
    </div>
  </div>
</div>
<style lang="scss">
	@import 'src/styles/abstracts/variables';
  @import 'src/styles/abstracts/mixins';

  .colThreeGrid {
    padding-top: calc(var(--component-spacing) * 2.7);

    &-bg {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3;
    }

    .colThreeCards {
      @include row;
      margin-top: calc(var(--flow-space-small) * -1);
    }

    .colThreeCard {
      background-color: var(--color-background);
      border: 1px solid #989898;
      color: var(--color-text);
      display: block;
      height: 100%;
      padding: var(--flow-space-large) var(--flow-space-medium);

      &-outer {
        @include col(12);
        margin-top: var(--flow-space-small);

        @media (min-width: $breakpoint-mobile-horizontal) {
          @include col(6);
        }

        @media (min-width: $breakpoint-tablet-horizontal) {
          @include col(4);
        }
      }

      &-logo {
        margin-bottom: var(--flow-space-small);
        height: 5rem;
        max-width: 5rem;

        @media (min-width: $breakpoint-tablet) {
          height: 7rem;
          max-width: 7rem;
        }

        @media (min-width: $breakpoint-desktop) {
          height: 10rem;
          max-width: 10rem;
        }

        img {
          height: 100%;
          max-width: 100%;
          object-fit: contain;
          width: auto;
        }
      }

      &-button {
        color: var(--color-accent);
        font-size: 1.8rem;
        line-height: 1.5;

        @media (min-width: $breakpoint-tablet) {
          font-size: 2rem;
        }

        &::after {
          background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16663 10H15.8333" stroke="rgb(250, 25, 141)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 4.16675L15.8333 10.0001L10 15.8334" stroke="rgb(250, 25, 141)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
      }

      &:hover {
        .colThreeCard-button {
          &::after {
            background-position: right center;
          }
        }
      }
    }
  }

</style>
