---

import { Image } from 'astro:assets';
import CTAButton from '@widgets/CTAButton.astro';
import vmWareLogo from '@assets/logo/vmware-logo-black.svg';
import vmWareLogoWhite from '@assets/logo/vmware-logo-white.svg';
import mcafeeLogo from '@assets/logo/mc-afee-logo-black.svg';
import mcafeeLogoWhite from '@assets/logo/mc-afee-logo-white.svg';
import ciscoLogo from '@assets/logo/cisco-logo-black.svg';
import ciscoLogoWhite from '@assets/logo/cisco-logo-white.svg';
import backgroundImage from '@assets/images/TwoColWithLogo/blue-bg.png'

interface Props {

}

const {

} = Astro.props;

---

<section class="twocolwithlogo blade">
  <div class="container">
		<div class="intro">
			<div class="row">
				<div class="intro__content-outer">
					<div class="intro__content">
						<span class="subtitle">
							Case studies
						</span>
						<h3>Nisl <span class="marker marker--underline">pulvinar</span> consectet nec lipsum dolor</h3>
					</div>
				</div>
				<div class="intro__action-outer">
					<div class="intro__action">
						<a href="/" class="button button-large">
							View all case studies
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="twocolwithlogo__item">
		<a href="/" class="twocolwithlogo__item-link" aria-label="card-link"></a>
		<div class="twocolwithlogo__bg-outer">
			<div class="twocolwithlogo__bg">
				<Image src={backgroundImage} alt="bg Blue" />
			</div>
		</div>
		<div class="container">
			<div class="row twocolwithlogo__items-outer">
				<div class="twocolwithlogo__logo-outer">
					<div class="twocolwithlogo__logo">
						<Image class="twocolwithlogo__logo-black" src={vmWareLogo} alt="vmWareLogo" />
						<Image class="twocolwithlogo__logo-white" src={vmWareLogoWhite} alt="vmWareLogo" />
					</div>
				</div>
				<div class="twocolwithlogo__content-outer">
					<div class="twocolwithlogo__content">
						<h4>80% vel consequat est. Donec semper neque quam eget.</h4>
						<p>Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="twocolwithlogo__item">
		<a href="/" class="twocolwithlogo__item-link" aria-label="card-link"></a>
		<div class="twocolwithlogo__bg-outer">
			<div class="twocolwithlogo__bg">
				<Image src={backgroundImage} alt="bg Blue" />
			</div>
		</div>
		<div class="container">
			<div class="row twocolwithlogo__items-outer">
				<div class="twocolwithlogo__logo-outer">
					<div class="twocolwithlogo__logo">
						<Image class="twocolwithlogo__logo-black" src={mcafeeLogo} alt="mcafeeLogo" />
						<Image class="twocolwithlogo__logo-white" src={mcafeeLogoWhite} alt="mcafeeLogo" />
					</div>
				</div>
				<div class="twocolwithlogo__content-outer">
					<div class="twocolwithlogo__content">
						<h4>80% vel consequat est. Donec semper neque quam eget.</h4>
						<p>Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="twocolwithlogo__item">
		<a href="/" class="twocolwithlogo__item-link" aria-label="card-link"></a>
		<div class="twocolwithlogo__bg-outer">
			<div class="twocolwithlogo__bg">
				<Image src={backgroundImage} alt="bg Blue" />
			</div>
		</div>
		<div class="container">
			<div class="row twocolwithlogo__items-outer">
				<div class="twocolwithlogo__logo-outer">
					<div class="twocolwithlogo__logo">
						<Image class="twocolwithlogo__logo-black" src={ciscoLogo} alt="ciscoLogo" />
						<Image class="twocolwithlogo__logo-white" src={ciscoLogoWhite} alt="ciscoLogo" />
					</div>
				</div>
				<div class="twocolwithlogo__content-outer">
					<div class="twocolwithlogo__content">
						<h4>80% vel consequat est. Donec semper neque quam eget.</h4>
						<p>Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="twocolwithlogo__item">
		<a href="/" class="twocolwithlogo__item-link" aria-label="card-link"></a>
		<div class="twocolwithlogo__bg-outer">
			<div class="twocolwithlogo__bg">
				<Image src={backgroundImage} alt="bg Blue" />
			</div>
		</div>
		<div class="container">
			<div class="row twocolwithlogo__items-outer">
				<div class="twocolwithlogo__logo-outer">
					<div class="twocolwithlogo__logo">
						<Image class="twocolwithlogo__logo-black" src={vmWareLogo} alt="vmWareLogo" />
						<Image class="twocolwithlogo__logo-white" src={vmWareLogoWhite} alt="vmWareLogo" />
					</div>
				</div>
				<div class="twocolwithlogo__content-outer">
					<div class="twocolwithlogo__content">
						<h4>80% vel consequat est. Donec semper neque quam eget.</h4>
						<p>Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="twocolwithlogo__item">
		<a href="/" class="twocolwithlogo__item-link" aria-label="card-link"></a>
		<div class="twocolwithlogo__bg-outer">
			<div class="twocolwithlogo__bg">
				<Image src={backgroundImage} alt="bg Blue" />
			</div>
		</div>
		<div class="container">
			<div class="row twocolwithlogo__items-outer">
				<div class="twocolwithlogo__logo-outer">
					<div class="twocolwithlogo__logo">
						<Image class="twocolwithlogo__logo-black" src={mcafeeLogo} alt="mcafeeLogo" />
						<Image class="twocolwithlogo__logo-white" src={mcafeeLogoWhite} alt="mcafeeLogo" />
					</div>
				</div>
				<div class="twocolwithlogo__content-outer">
					<div class="twocolwithlogo__content">
						<h4>80% vel consequat est. Donec semper neque quam eget.</h4>
						<p>Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	@import 'src/styles/abstracts/variables';
	@import 'src/styles/abstracts/mixins';

	.twocolwithlogo {
		$self: &;

		padding-bottom: 0;
		.row {
			@include row;
			align-items: center;
		}

		.intro {
			margin-bottom: var(--flow-space-large);
			.subtitle {
				display: inline-block;
				margin-bottom: 2rem;
			}
			&__content-outer {
				@media (min-width: $breakpoint-tablet) {
					@include col(6);
				}
			}

			&__action-outer {
				@media (min-width: $breakpoint-tablet) {
					@include col(6);
				}
			}

			&__action {
				@media (min-width: $breakpoint-tablet) {
					text-align: right;
				}
			}
		}

		&__items-outer {
			flex: 0 0 100%;
			position: relative;
			z-index: 2;
		}

		&__item {
			border-top: 1px solid var(--color-background-secondary);
			border-bottom: 1px solid var(--color-background-secondary);
			display: flex;
			align-items: center;
			padding: var(--flow-space-small) 0;
			position: relative;
			min-height: calc(var(--blade-view-height) / 3);
			transition: color 0.3s ease-in-out;

			&:hover {
				color: var(--color-background);
				#{$self}__bg {
					opacity: 1;
				}

				#{ $self }__logo-black {
					display: none;
				}
				#{ $self }__logo-white {
					display: block;
				}
			}
		}

		&__item-link {
			cursor: pointer;
			position: absolute;
			inset: 0;
			z-index: 6;
		}

		&__bg-outer {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		&__bg {
			position: absolute;
			inset: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			transition: opacity 0.3s ease-in-out;

			img {
				height: 100%;
				width: 100%;
			}
		}

		&__logo-outer {
			@media (min-width: $breakpoint-tablet) {
				@include col(6)
			}
		}

		&__logo {
			max-width: 19rem;
    	height: 7rem;
			margin-bottom: 3rem;
			width: 100%;

			@media (min-width: $breakpoint-tablet) {
				margin-left: 6rem;
				margin-bottom: 0;
			}

			img {
				object-fit: contain;
				object-position: left;
				height: 100%;
				width: 100%
			}
		}
		&__logo-white {
			display: none;
		}
		&__logo-black {
			display: block;
		}

		&__content-outer {
			@media (min-width: $breakpoint-tablet) {
				@include col(6)
			}
		}
	}
</style>