---

import Page from "../../layouts/Page/Page.astro";

import HeroBanner from "../../components/HeroBanner/HeroBanner.astro";
import TwoColWithLogo from "../../components/TwoColWithLogo/TwoColWithLogo.astro";
import TabsWithContent from "../../components/TabsWithContent/TabsWithContent.astro";
import SliderWithContent from "../../components/SliderWithContent/SliderWithContent.astro";
import TwoGridSlider from "../../components/TwoGridSlider/TwoGridSlider.astro";
import FooterCTA from "../../components/FooterCta/FooterCTA.astro";
import ContentWithGrid from "@components/ContentWithGrid/ContentWithGrid.astro";
import TwoColVerticalSlide from "@components/TwoColVerticalSlide/TwoColVerticalSlide.astro";
import ColThreeGrid from "@components/ColThreeGrid/ColThreeGrid.astro";

---

<Page title="Service Detail | Set 2" metadescription="Homepage" ogimage="">
	<HeroBanner
		bladeCssId="workHeroBanner"
		bladeAdditionalCssClasses=""
		ctaLightboxVideoUrl={null}
		ctaStyle={null}
		ctaTarget="_self"
		ctaText="Let's get started"
		ctaUrl="/work/start"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
		eyebrow="Brand strategy"
		headline="Analytics and <span class='marker-effect marker-underline'>innovation</span> driving digital strategy."
		headlineTag="h1"
		headlineTypography="h1"
		backgroundTheme="dark"
		backgroundVideoType="mp4"
		backgroundVideoUrl={null}
		backgroundImage={{sourceUrl:""}}
		hasGridBackgroundTexture={true}
	/>
	<ContentWithGrid
		bladeCssId=""
		bladeExtraClasses=""
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim."
		eyebrow="Overview"
		headline="Great digital strategy answers critical questions"
		headlineTag="h2"
		headlineTypography="h2"
		contentItems={
			[
				{
					image: {
						altText: "ov1",
						sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/overview-1.png"
					},
					headline: "Lorem ipsum amet dolor sit.",
					headlineTag: "h3",
					headlineTypography: "h4",
					description: "1Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.",
					linkUrl: "/?overview1"
				},
				{
					image: {
						altText: "ov2",
						sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/overview-2.png"
					},
					headline: "Lorem ipsum amet dolor sit.",
					headlineTag: "h3",
					headlineTypography: "h4",
					description: "2Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.",
					linkUrl: "/?overview2"
				},
				{
					image: {
						altText: "ov3",
						sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/overview-3.png"
					},
					headline: "Lorem ipsum amet dolor sit.",
					headlineTag: "h3",
					headlineTypography: "h4",
					description: "3Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.",
					linkUrl: "/?overview3"
				},
			]
		}
	/>
	<TwoColVerticalSlide />
	<TwoColWithLogo />
	<ColThreeGrid

	/>
	<TwoGridSlider
		headline="dfgfdgdf"
		headlineTag="h2"
		headlineTypography="h2"
		description="Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et."
		ctaUrl="/"
		ctaText="View all insights"
		ctaTarget="_self"
		ctaStyle="button"
		ctaLightboxVideoUrl={null}
		featuredInGroup={{
			headline:"Featured In:",
			headlineTag:"h3",
			headlineTypography:"h3",
			featuredInLogos:[
				{
					logo: {
						sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/logo-hyperbest.svg",
						altText: ""
					}
				},
				{
					logo: {
						sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/logo-logoipsum.svg",
						altText: ""
					}
				},
				{
					logo: {
						sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/logo-medium.svg",
						altText: ""
					}
				},
				{
					logo: {
						sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/logo-forbes.svg",
						altText: ""
					}
				},
			]
		}}
		cards={[
			{
				ctaUrl: "/",
				cardHeadline: "Google Analytics 4 is Coming. Is Your B2B Ready?",
				cardDescription: "Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.",
				cardBackground: {
					sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/iStock-1280582431-1.webp"
				}
			},
			{
				ctaUrl: "/",
				cardHeadline: "Google Analytics 4 is Coming. Is Your B2B Ready?",
				cardDescription: "Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.",
				cardBackground: {
					sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/iStock-1358512588-1.webp"
				}
			},
			{
				ctaUrl: "/",
				cardHeadline: "Google Analytics 4 is Coming. Is Your B2B Ready?",
				cardDescription: "Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.",
				cardBackground: {
					sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/iStock-1280582431-1.webp"
				}
			},
			{
				ctaUrl: "/",
				cardHeadline: "Google Analytics 4 is Coming. Is Your B2B Ready?",
				cardDescription: "Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.",
				cardBackground: {
					sourceUrl: "https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/iStock-1280582431-1.webp"
				}
			}
		]}
	/>
	<HeroBanner
		bladeCssId="workCTA"
		bladeAdditionalCssClasses=""
		ctaLightboxVideoUrl={null}
		ctaStyle="button"
		ctaTarget="_self"
		ctaText="Contact Us"
		ctaUrl="/contact/"
		description={null}
		eyebrow="Lorem ipsum dolor."
		headline="Let’s talk."
		headlineTag="h2"
		headlineTypography="h1"
		backgroundTheme="dark"
		backgroundVideoType="mp4"
		backgroundVideoUrl={null}
		backgroundImage={{sourceUrl:"https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/cta-bg.webp"}}
		hasGridBackgroundTexture={true}
	/>
</Page>