---

import Page from "@layouts/Page/Page.astro";

import HeroBanner from "@components/HeroBanner/HeroBanner.astro";
import TwoColWithLogo from "@components/TwoColWithLogo/TwoColWithLogo.astro";
import TabsWithContent from "@components/TabsWithContent/TabsWithContent.astro";
import SliderWithContent from "@components/SliderWithContent/SliderWithContent.astro";
import TwoGridSlider from "@components/TwoGridSlider/TwoGridSlider.astro";
import FooterCTA from "@components/FooterCta/FooterCTA.astro";

---

<Page title="Our Work | Set 2" metadescription="Our work" ogimage="">
	<HeroBanner
		bladeCssId="workHeroBanner"
		bladeAdditionalCssClasses=""
		ctaLightboxVideoUrl={null}
		ctaStyle={null}
		ctaTarget="_self"
		ctaText="Let's get started"
		ctaUrl="/work/start"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
		eyebrow="Lorem ipsum dolor sit"
		headline="Our work is our <span class='marker-effect marker-underline'>passion</span>."
		headlineTag="h1"
		headlineTypography="h1"
		backgroundTheme="dark"
		backgroundVideoType="mp4"
		backgroundVideoUrl={null}
		backgroundImage={{sourceUrl:"https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/summit-bg.webp"}}
		hasGridBackgroundTexture={true}
	/>
	<TwoColWithLogo
	
	/>
	<HeroBanner
		bladeCssId="workAwardsBanner"
		bladeAdditionalCssClasses=""
		ctaLightboxVideoUrl={null}
		ctaStyle="button"
		ctaTarget="_self"
		ctaText="View Our Awards"
		ctaUrl="/awards/"
		description="The Clear Digital Velocity Workshops is our unique and dynamic methodology that flips the traditional agency models by transforming project discovery conversations into focused project planning and road mapping exercises."
		eyebrow={null}
		headline="Over 100 awards."
		headlineTag="h2"
		headlineTypography="h1"
		backgroundTheme="dark"
		backgroundVideoType="mp4"
		backgroundVideoUrl={null}
		backgroundImage={{sourceUrl:"https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/awards-bg.webp"}}
		hasGridBackgroundTexture={false}
	/>
	<SliderWithContent
	
	/>
	<TwoGridSlider

	/>
	<HeroBanner
		bladeCssId="workCTA"
		bladeAdditionalCssClasses=""
		ctaLightboxVideoUrl={null}
		ctaStyle="button"
		ctaTarget="_self"
		ctaText="Contact Us"
		ctaUrl="/contact/"
		description={null}
		eyebrow="Lorem ipsum dolor."
		headline="Let’s talk."
		headlineTag="h2"
		headlineTypography="h1"
		backgroundTheme="dark"
		backgroundVideoType="mp4"
		backgroundVideoUrl={null}
		backgroundImage={{sourceUrl:"https://dev-clear-astro-wp.pantheonsite.io/wp-content/uploads/2023/10/cta-bg.webp"}}
		hasGridBackgroundTexture={true}
	/>
</Page>